[submodule "Foundry-Fundme/lib/forge-std"]
	path = Foundry-Fundme/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-Fundme/lib/chainlink-brownie-contracts"]
	path = Foundry-Fundme/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry-Fundme/lib/foundry-devops"]
	path = Foundry-Fundme/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-smartcontract-lottery/lib/forge-std"]
	path = foundry-smartcontract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-smartcontract-lottery/lib/chainlink-brownie-contracts"]
	path = foundry-smartcontract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-smartcontract-lottery/lib/solmate"]
	path = foundry-smartcontract-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry-smartcontract-lottery/lib/foundry-devops"]
	path = foundry-smartcontract-lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-erc20-token/lib/forge-std"]
	path = foundry-erc20-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-erc20-token/lib/openzeppelin-contracts"]
	path = foundry-erc20-token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Foundry-nft/lib/forge-std"]
	path = Foundry-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-nft/lib/openzeppelin-contracts"]
	path = Foundry-nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Foundry-nft/lib/foundry-devops"]
	path = Foundry-nft/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
